.label {
  color: rgb(43, 115, 192);
}
.container {
  border: 1px solid rgb(43, 115, 192);
  margin: 100px 100px 5px;
  width: 50%;
  min-width: 300px;
  max-width: 600px;
  padding: 20px;
  color: rgb(43, 115, 192);
}
.headspace {
  padding: 5px;
}
.citysearch {
  padding: 10px;
  margin: 10px auto;
  width: 50%;
  border: 1px solid rgb(43, 115, 192);
}
h4,
h5 {
  text-align: center;
}
.grid,
.grid2 {
  padding: 10px;
}
.degrees {
  font-size: large;
  position: relative;
  cursor: pointer;
}
a {
  text-decoration: none;
}
#description {
  text-align: left;
}
p {
  margin-left: 70px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(69, 68, 68);
}
